Search for Phone number, First Name, or Last Name: <input ng-model='search' ng-change="queryChanged()">
<table class="table ordertable">
    <tr>
        <td><h3>First Name</h3></td>
        <td><h3>Last Name</h3></td>
        <td><h3>Phone Number</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="order in orders">
        <td>{{order.CustomerFirstname}}</td>
        <td>{{order.CompanyName}}</td>
        <td>{{order.CustomerID}}</td>
        <td><a class='btn btn-primary' ui-sref="viewCustomer({id:order.CustomerID})">Orders</a></td>
    </tr>
</table>
<a class='btn btn-primary' ng-click='prevPage()'>&lt;&lt;Previous Page</a>
<a class='btn btn-primary' ng-click='nextPage()'>Next Page&gt;&gt;</a>
