<table class="table movietable">
    <tr>
        <td><h3>Order: {{movie.OrderID}}</h3></td>
        <td></td>
    </tr>
    <tr>
      <td>{{movie.customer.CustomerFirstname}} {{movie.customer.CompanyName}}</td>
      <td>{{movie.customer.CustomerID}}</td>
    </tr>
    <tr>
        <td>Due Date</td>
        <td>{{movie.RequiredDate | date:'M/d/yy'}} {{ movie.PickUpTime | date:'HH:mm' }}</td>
    </tr>
    <tr>
        <td>Paid</td>
        <td>{{movie.OrdPaid}}</td>
    </tr>
    <tr><td colspan="2"><h3>Details</h3></td></tr>
    <tr ng-repeat="deet in movie.details">
      <td>{{ deet.product.ProductName }} {{ deet.subproduct.Flavor }} {{ deet.subproduct.Size }} {{ deet.subproduct.Type }} {{ deet.subproduct.SubProductMemo }}</td>
        <td>{{ deet.MemoOrderDetails }}</td>
    </tr>

</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie.OrderID})">Edit</a>
</div>
