<table class="table movietable">
    <tr>
        <td><h3>Orders</h3></td>
        <td><h3><a ui-sref="movies({orderBy:'OrderDate'})">Order Date</a></h3></td>
        <td><h3><a ui-sref="movies({orderBy: 'RequiredDate'})">PickUp Date</a></h3></td>
        <td><h3>PickUp Time</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="movie in movies">
          <td>{{movie.customer.CompanyName}}, {{movie.customer.CustomerFirstname}}</td>
          <td>{{movie.OrderDate | date:'M/d/yy'}}</td>
          <td>{{movie.RequiredDate | date:'M/d/yy'}}</td>
          <td>{{movie.PickUpTime | date:'HH:mm'}}</td>
          <td>
            <a class="btn btn-primary" ui-sref="viewMovie({id:movie.OrderID})">View</a>
            <a class="btn btn-primary"  ui-sref="editMovie({id:movie.OrderID})"">Edit</a>
          </td>
    </tr>
</table>
<a class='btn btn-primary' ng-click='prevPage()'>&lt;&lt;Previous Page</a>
<a class='btn btn-primary' ng-click='nextPage()'>Next Page&gt;&gt;</a>

