<table class="table ordertable">
    <tr>
        <td><h3>Order: {{order.OrderID}}</h3></td>
        <td></td>
    </tr>
    <tr>
      <td>{{order.customer.CustomerFirstName}} {{order.customer.CompanyName}}</td>
      <td>{{order.customer.CustomerID}}</td>
    </tr>
    <tr>
        <td>Due Date</td>
        <td>{{order.RequiredDate | date:'M/d/yy h:mm a' }}</td>
    </tr>
    <tr>
        <td>Paid</td>
        <td>{{order.OrdPaid}}</td>
    </tr>
    <tr><td colspan="2"><h3>Details</h3></td></tr>
    <tr ng-repeat="deet in order.details">
      <td>{{ deet.Quantity }} {{ deet.subproduct.Flavor }} {{ deet.product.ProductName }} {{ deet.subproduct.SubProductMemo }}</td>
        <td>{{ deet.MemoOrderDetails }}</td>
    </tr>

</table>
<div>
    <a class="btn btn-primary" ui-sref="editorder({id:order.OrderID})">Edit</a>
</div>
