<div class="row">
  <div class="col-sm-12">
    <p align="center">Have you ordered with us before?  <a ui-sref="customerSearch()">Click here for Yes</a> or fill out the form below for No.</p>
  </div>
</div>
<hr />
<form class="form-horizontal" role="form" ng-submit="updateorder()">
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Customer Phone Number</label>
    <div class="col-sm-10">
        <input type="text" ng-model="order.CustomerID" class="form-control" id="title" placeholder="Customer Phone Number" ng-required="true" />
    </div>
</div>
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Customer First Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="order.customer.CustomerFirstName" class="form-control" ng-required="true" id="title" placeholder="First Name"/>
    </div>
</div>
<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Customer Last Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="order.customer.CompanyName" class="form-control" id="title" placeholder="Last Name" ng-required="true"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Due Date</label>
    <div class="col-sm-10">
      <input type="datetime-local" min="{{today | date: 'yyyy-MM-ddT00:00:00'}}" ng-model="requiredDate" class="form-control" ng-required="true" />
    </div>
  </div>

<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Order Paid</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="order.OrdPaid" class="form-control" id="orderpaid" placeholder=""/>
    </div>
</div>
<h3>Details</h3>
<div class="form-group"> 
  <div class="col-sm-3">Item</div>
  <div class="col-sm-1">Quantity</div>
  <div class="col-sm-7">Notes</div>
</div>
<div class="form-group" ng-repeat="deet in order.details">
  <div class="col-sm-3"><select ng-model="deet.product.ProductID" ng-options="prod.ProductID as prod.ProductName for prod in products" ng-change="updateProduct(deet.product)" ></select><select ng-model="deet.subproduct.SubProductID" ng-options="sub.SubProductID as sub.Flavor for sub in deet.product.subproducts"></select></div>
  <div class="col-sm-1"><input type="text" ng-model="deet.Quantity" class="form-control" ng-required="true" /></div>
  <div class="col-sm-7"><textarea ng-model="deet.MemoOrderDetails" class="form-control" ng-maxlength="255"></textarea></div>
  <div class="col-sm-1"><button ng-click="deleteDetail($index)"><span class="glyphicon glyphicon-remove" /></button></div>
</div>
<div class="form-group">
  <input type="button" class="btn btn-primary" value="Add" ng-click="addDeet();"/>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
    
</form>
