
<table class="table">
  <tr>
    <td>Search on PickUp Date</td>
    <td>Start Date: <input type="text" id="startDate" ></td>
    <td>&nbsp;</td>
    <td>End Date: <input type="text" id="endDate" ></td>
  </tr>
</table>
<div ng-repeat="order in orders" class="orderList">
  <h3>{{order.customer.CompanyName}}, {{order.customer.CustomerFirstName}}</h3>
  <p> {{order.RequiredDate | date:'M/d/yy'}} {{order.PickUpTime | date:'HH:mm'}}</p>
  <div ng-repeat="deet in order.details" class="deet"> 
      <p>{{ deet.Quantity }} {{ deet.subproduct.Flavor }} {{ deet.product.ProductName }} - {{ deet.subproduct.SubProductMemo }}</p>
    <p>{{ deet.MemoOrderDetails }}</p>
  </div>
</div>


